<nav class="navbar navbar-expand-lg navbar-light bg-info bg-grey ">
<!--  <a class="navbar-brand" href="#">Navbar</a>-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a class="nav-link onhover"    routerLink="/home">HOME <span class="sr-only">(current)</span></a>
        <a  class ="nav-link onhover"   routerLink="/search">FIND</a>
        <a class="nav-link onhover"     routerLink="/route">PLAN</a>
        <a class="nav-link onhover"   routerLink="/traffic">TRAFFIC</a>

        <a class="nav-link onhover" (click)="signUpAlert()" routerLink="/login">LOGIN</a>

  </div>
</nav>

<router-outlet ></router-outlet>
